* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: cooper-black-std,serif;
    font-style: normal;
    list-style-type: none;
}
a {
    color:rgb(236, 236, 195);
    text-decoration: none;
    letter-spacing: 6px;
    font-size:25px;
}
a:hover {
    color:rgb(148, 148, 140);
}
#wrapper {
    display: grid;
    grid-template-areas:
    'na'
    'mn'
    'ft';
    grid-template-rows:10vh auto 20vh;
    grid-template-columns: 1fr;
}
#main {
    display:flex;
    justify-content:center;
    align-items: center;
    background-image:url(../img/background.jpg);
    background-repeat:repeat;
    background-size: auto;
    height: 90vh;
    grid-area:mn;
}
.footer {
    background-color: rgb(27, 27, 27);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: ft;
    }
.footer a {
    font-size:15px;
    letter-spacing: 0px;
}
.linef {
    border:rgb(236, 236, 195) 1px solid;
    width: 80vw;
    height:2px;
    border-radius: 44444px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    grid-area:na;
}
.logo {
    background-image: url(../img/logo1.svg);
    height:100px;
    width:100px;
    position: static
}
.logo2 {
    background-image: url(../img/logo3d.svg);
    height:200px;
    width:200px;
    transition:all 2s ease;
}
.navLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 90vh;
    top: -90vh;
    background-color:rgb(27, 27, 27);
    align-items: center;
    justify-content: space-around;
    width:100%;
    list-style-type: none;
    transition:all 0.6s ease;
}
.navLinks li {
    text-align: center;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(236, 236, 195);
    margin: 5px;
    border-radius: 10%;
    position:static;
}
.burger:hover>div {
    background-color: blueviolet;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.navActive {
    transform: translatey(100vh);
    transition:all 0.6s ease;
}

/*shopmain.hmtl specific*/
.cart {
    position: absolute;
    height:50px;
    width:50px;
    top: 10vh;
    right:1vw;
    background-image:url(../img/shopping_cart_black_24dp.svg);
    background-size: 100%;
    transition: all 0.3s ease;
}
.cartUnactive {
    opacity: 0;
    top:-50px;
}

#logocontainer {
    display: flex;
    justify-content: center;
}
#logo1 {
    background-image: url(../img/logo3d.svg);
    height:200px;
    width:200px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: co;
    flex-wrap: wrap;
    grid-area: mn;
    flex-direction: column;
    padding: 10vh;
    min-height: 90vh;
}
.cloarticle {
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cloarticle li {
    color: rgb(27, 27, 27);
    letter-spacing: 0px;
    font-size: 15px;
}
.cloarticle li:hover {
    color: rgb(73, 73, 73);
}
.clocontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.picture1 {
    background-image:url(../img/shirt\ front.png);
    background-size: 100%;
    height:250px;
    width:200px;
}
.picture1:hover {
    background-image: url(../img/shirt\ back.png);
}
.picture2 {
    background-image:url(../img/hoodie\(front\).png);
    background-size: 100%;
    height:250px;
    width:200px;
}
.picture2:hover {
    background-image: url(../img/hoodie\(back\).png);
}
.picture3 {
    background-image:url(../img/jeans.png);
    background-size: 100%;
    height:250px;
    width:200px;
}
/*item.html specific*/
.itemcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.itemphoto1 {
    background-image: url(../img/shirt\ front.png);
    background-size: 100%;
    height: 50vh;
    width: 43vh;
}
.iteminfo  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.description {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.description li {
    list-style-type: disc;
}
.button {
    background-color: blueviolet;
    width:200px;
    height:50px;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(236, 236, 195);
    border: solid 4px rgb(80, 31, 126);
}
@media screen and (min-width: 700px) {
    .burger div {
        width: 0px;
        height: 0px;
        background-color: none;
        position: absolute;
    }
    .navLinks {
    display: flex;
    flex-direction: row;
    height: 0vh;
    top: 5vh;
    left:13.5%;
    background-color:rgb(27, 27, 27);
    align-items: center;
    justify-content: space-around;
    width:80%;
    list-style-type: none;
    }
    .logo {
        background-image: url(none);
        height:0px;
        width:0px;
        position: absolute;
    }
    .logo2 {
        background-image: url(../img/logo3d.svg);
        height:400px;
        width:400px;
    }
    .footer {
        flex-direction: row;
        }
    .linef {
        border:rgb(236, 236, 195) 1px solid;
        width: 2px;
        height:100px;
        }
    .clocontainer {
        flex-direction: row;
    }
    .itemcontainer {
        display: flex;
        flex-direction: row;
    }
    }